
container_commands:
  01_stop_existing_node:
    command: "pkill -f node || true"
  02_move_files:
    command: "cp -r /var/app/staging/* /var/app/current/"
  03_install_dependencies:
    command: "npm install --unsafe-perm"
    cwd: /var/app/current
  04_start_application:
    command: "npm start"
    cwd: /var/app/current"









