option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: "18"
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"

container_commands:
  01_unzip_artifact:
    command: "unzip -o /var/app/staging/build_output.zip -d /var/app/current"
  02_change_permissions:
    command: "chmod -R 755 /var/app/current/.ebextensions"
  03_install_dependencies:
    command: "npm install --unsafe-perm"
    cwd: /var/app/current
  04_start_application:
    command: "npm start"
    cwd: /var/app/current







